# تجاهل قواعد البيانات (لمنع رفع بيانات الكليات)
*.db
instance/
saas_database.db

# تجاهل ملفات البيئة الوهمية والمتغيرات الحساسة
venv/
env/
.env

# تجاهل ملفات الكاش الخاصة ببايثون
__pycache__/
*.pyc